.profile {
    margin-top: 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width:300px) and (max-width:650px) {
    .profile {
        flex-direction: column;
        margin: 42px auto 0;
    }
}