.profile__main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    color: #ffffff;
}

@media (min-width: 320px) and (max-width: 767px){
    .profile__main  {
        flex-direction: column;
    }
}
