.card-container {
    width: 882px;
    display: grid;
    grid-column-gap: 18px;
    grid-row-gap: 18px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    margin: 50px auto 0;
}

@media (min-width: 320px) and (max-width: 768px){
    .card-container {
        width: 282px;
        grid-row-gap: 20px;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(6, auto);
        margin: 36px auto 0;
    }
} 

@media (min-width: 768px) and (max-width: 1024px){
    .card-container {
        width: 582px;
        grid-row-gap: 20px;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
        margin: 36px auto 0;
    }
} 