.header__logo {
    width: 142px;
    height: 33px;
    margin-top: 0;
    margin-left: 0;
}

@media (min-width: 320px) and (max-width: 567px){
    .header__logo {
        width: 103px;
        height: 24px;
        margin-left: 27px;
    }
} 
