.header {
    min-height: 74px;
    max-width: 882px;
    margin: 0 auto 0;  
    padding-top: 45px;
    border-bottom: 1px solid rgba(165, 165, 165, .7);
}

@media (min-width: 320px) and (max-width: 768px){
    .header {
        min-height: 56px;
        padding-top: 28px;
    }
} 
