.profile__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 5px;
    margin-bottom: 25px;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media (min-width: 768px) and (max-width: 1024px){
    .profile__subtitle {
        line-height: 17px;
        margin-top: 14px;
        margin-bottom: 36px;
    }
} 


@media (min-width: 320px) and (max-width: 768px){
    .profile__subtitle {
        font-size: 14px;
        line-height: 17px;
        margin-top: 14px;
        margin-bottom: 36px;
        text-align: center;
    }
} 