.profile__add-button {
    border: 2px solid #fff;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: transparent;
    background-image: url(../../../images/addButton.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 150px;
    height: 50px;
}

.profile__add-button:hover {
    opacity: .6;
    transition: .2s linear;
    cursor: pointer;
}

@media (min-width:300px) and (max-width:636px) {
    .profile__add-button {
        width: 90%;
        margin-top: 36px;
    }
}