@import url(../element/element.css);

.elements {
    margin:50px auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-column-gap: 18px;
    grid-row-gap: 21px;
    justify-content: center;
}

@media (min-width:300px) and (max-width:600px) {
    .elements {
        width: 282px;
        margin: 36px auto 0;
    }
}