@import url(./__info/footer__info.css);

.footer {
    max-width: 882px;
    color: #fff;
    margin: 66px auto 60px;
}

@media (min-width:300px) and (max-width:900px) {
    .footer {
        width: 90%;
    }
}