@import url(./__image/element__image.css);
@import url(./__caption/element__caption.css);
@import url(./__title/element__title.css);
@import url(./__button-like/element__button-like.css);
@import url(./__trash/element__trash.css);
@import url(./__button-like/_type/button__like_type_liked.css);

.element {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}