@import url(./__image/element__image.css);
@import url(./__caption/element__caption.css);
@import url(./__title/element__title.css);
@import url(./__button-like/element__button-like.css);

.element {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}