@import url(./__image/card__image.css);
@import url(./__like/card__like.css);
@import url(./__script/card__script.css);
@import url(./__title/card__title.css);
@import url(./__remove-button/card__remove-button.css);
@import url(./__like/_active/card__like_active.css);


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 282px;
    height: 362px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
