.element__button-like {
    background: transparent;
    background-image: url(../../../images/button-like.svg);
    width: 21px;
    height: 18px;
    background-size: cover;
    border: none;
    margin-left: 30px;
    padding-right: 8px;
}

.element__button-like:hover {
    transform: scale(1.04);
    opacity: 0.7;
    transition: .2s linear;
    cursor: pointer;
}