@import url(./__big-image/popup__big-image.css);
@import url(./__btn-close/popup__btn-close.css);
@import url(./__btn-save/popup__btn-save.css);
@import url(./__container/popup__container.css);
@import url(./__control/popup__control.css);
@import url(./__figcaption/popup__figcaption.css);
@import url(./__form-submit/popup__form-submit.css);
@import url(./__form-submit/_inactive/popup__form-submit_inactive.css);
@import url(./__form/popup__form.css);
@import url(./__img-container/popup__img-container.css);
@import url(./__text-error/popup__text-error.css);
@import url(./__text-error/_active/popup__text-error_active.css);
@import url(./__text/popup__text.css);
@import url(./__text/_type/popup__text_type_error.css);
@import url(./__title/popup__title.css);
@import url(./_opened/popup_opened.css);

.popup {
    display: flex;
    width: 100%;
    margin: auto;
    min-height: 100%; 
    background-color: rgba(0,0,0,0.5); 
    position: fixed; 
    top: 0; 
    right: 0;
    bottom: 0;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.7s linear, opacity 0.3s linear;
}